html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'zai Dune Felt-tip Pen';
    font-style: normal;
    font-weight: 400;
    src: local('zai Dune Felt-tip Pen'), url('../Project-Rock-Paper-Scissors/ZaiDuneFeltTipPen-w1AD2.ttf') format('woff');
}
@font-face {
    font-family: 'zai Dune Felt-tip Pen';
    font-style: normal;
    font-weight: 400;
    src: local('zai Dune Felt-tip Pen'), url('https://fonts.cdnfonts.com/s/74564/ZaiDuneFeltTipPen-w1AD2.woff') format('woff');
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
   min-height: 100%;
    font-family: 'zai Dune Felt-tip Pen', sans-serif;
    
}

body{
    line-height: 1.6;
    font-family: 'zai Dune Felt-tip Pen', sans-serif;

}

.header{
    display: flex;
    justify-content: center;
    background-color:#060422;
    /* font-family: 'BioRhyme', serif;
    */
   
      
}

.title{
    color:#e33409;
    padding: 2rem;
    font-size: 3rem;
}

.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 2rem;
}

.scoreboard{
    margin-bottom: 1.5rem;
}

.score-info{
    font-size: 3rem;
}
.score-message{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.scores-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.score-box{
    width: 17rem;
}
.sign{
    font-size: 8rem;

}

.score {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}

.buttons{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: silver;
    border-radius: 5px;
    
}



.btn:hover{
    background-color: gray;
}

.btn-restart{
    background-color: #e33409;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2rem;
    padding: 1rem 3rem;
    border-radius: 10px;
    font-size: 1.5rem;
}

.btn-restart:active{
    transform: scale(1.3);
    opacity: 60%;

}

.btn-square{
    min-width: 12rem;
    min-height: 12rem;    
}

.rules{
    font-size: 2.1rem;
    padding: 3rem 0;
}

.main button{
    font-family: 'zai Dune Felt-tip Pen', sans-serif;
}
footer{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    bottom: 0;
    font-size: 1.4rem;
}
.fab{
    margin:0 0 0.4rem 2rem;

}
@media (max-width: 550px) {
  .title {
    font-size: 18px;
  }

  .score-info {
    font-size: 26px;
  }

  .buttons {
    gap: 10px;
  }

  .btn-square {
    width: 100px;
    height: 100px;
  }

  .sign {
    font-size: 50px;
    
  }

  .modal {
    width: 95%;
  }
}